# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env
*.env

# Flask / instance


# Database
*.sqlite
*.sqlite3

# Uploads e arquivos gerados pelo usuário
app/static/submissions/

# Logs
*.log
logs/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Pytest / coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# MyPy
.mypy_cache/
