Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
Flask-SocketIO
Flask-Limiter
Flask-Mail
python-dotenv
email-validator
psycopg[binary]
reportlab
Pillow
qrcode[pil]
# Produção
gunicorn
gevent
gevent-websocket
pytest
pytest-flask
